.title_skills {
    margin-top: 5%;
    text-align: center;
    color: var(--color-main);
    font-weight: 800;
}

.skills_wrapper {
    margin: 5% 15% 0 15%;
    width: 70%;
}

.skills_container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 10%;
    justify-content: center;
    padding: 0;
}

.skills_container li {
    list-style: none;
}

.skill_box {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border-width: 3px;
    border-style: solid;
    background:
    linear-gradient(var(--bakground-color), var(--bakground-color)) padding-box,
    var(--gradient) border-box;
    border-image: var(--gradient);
    text-align: center;
    margin-bottom: 2%;
}

.skill_box span {
    font-size: 13px;
    color: var(--text-main);
}

@media screen and (max-width: 660px) {
    .skills_container {
        gap: 0;
    }
}
