:root {
    --bakground-color: #F2E6FA;
    --color-main: #A62CF7;
    --color-secondary: #D9C0F1;
    --background-footer: rgba(179, 118, 239, 0.56);
    --text-main: #470C7A;
    --text-secondary: white;
    --text-label: #470C7A;
    --title-background: hsla(0, 77%, 25%, 0.07);
    --gradient: linear-gradient(to right, var(--color-main), #7f04f7);
    --border-radius-btn: 35px
}


[data-theme='dark'] {
    --bakground-color: black;
    --color-main: #A62CF7;
    --color-secondary: #D9C0F1;
    --background-footer: rgba(179, 118, 239, 0.56);
    --text-main: #fff;
    --text-secondary: #fff;
    --text-label: #470C7A;
    --title-background: hsla(0, 0%, 96%, 0.07);
}

html, body, #root {
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
}

