::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

.wrapper {
    display: grid;
    height: 100vh;
    text-transform: uppercase;
    padding-top: 10%;
    overflow: auto;
}

@media (min-width: 581px) and (max-width: 992px) {
    .wrapper {
        padding-bottom: 10% !important;
    }
}

@media screen and (max-width: 580px) {
    .wrapper {
        padding-bottom: 20% !important;
    }
}